body {
  margin: 0;
  text-align: center;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

canvas {
  background: #111;
  display: block;
  margin: auto;
  border: 3px solid white;
}

.controls {
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

.hud {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
}

/* Game over screen */
#gameOver {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  padding: 20px;
  border: 2px solid white;
}

